/*Titres & textes */

* {
	font-family: 'Roboto', sans-serif;
}

h1.nom
{
	font-size: 4.2em;
	line-height: 0.9em;
	font-weight: 300;
	text-transform:uppercase;
	margin-top:15px;
	margin-bottom:15px;
}

h1, h1+p
{
	text-align: left;
}

#prenom 
{
	color: #ffca28;
	font-weight: 500;
}

#surligne {
	border-bottom: solid #ffca28 3px;
}

h2 {
	font-size: 1.7em;
	letter-spacing: .1rem;
	padding: 0px;
	margin: 0px;
}

h2.job {
	color: #404040;
	text-transform: none;
	font-weight: 500;
	letter-spacing: .03rem;

}

h2.parcours {
	text-transform: uppercase;
}

#blocgauche h2 {
	text-align: center;
	color: #ffca28;
	margin: 0px;
	text-transform: uppercase;
	font-weight: 500;
}

#blocgauche p {
	margin-top:30px;
}

.parcours h2 {
	font-weight: bold;
	text-align: left;
	color: #404040;
	margin-bottom: 50px;
}

h3 {
	font-size: 1.4em;
	margin-top: 0px;
	margin-bottom: 10px;
	text-transform: uppercase;
	line-height: 1.1em;
	color: #404040;
}

h4 {
	font-size: 1.1em;
	font-weight: 500;
	text-transform: initial;
	line-height: 1em;
	color: #404040;
}

h4.poste{
	margin-bottom: 10px;
}

b {
	line-height: 0.3em;
	color: #212121;
}

em {
	line-height: 0.3em;
	font-style: normal;
}

em #blocgauche
{
	color: #404040;
}

em .info
{
	color: black;
}

a {
	text-decoration: none;
}

a.colgauche {
	color: #212121;
}

article a {
	color: #212121;
}

ul {
	list-style-type: none;
	padding-left: 0px;
	font-size: 1.1em;
	line-height: 1.1em;
	color: #404040;
}

.bandeau {
	text-align: center;
	text-decoration: none;
	padding-top: 1.5%;
	padding-bottom: 1%;
	background-color: #404040;
}

p, .lieu {
	color: #404040;
	font-size: 1.1em;
	line-height: 0,3;
	font-style: normal;
	font-family: Arial, sans-serif;
}

.textecolonne p, .contact {
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 20px;
	color: #212121;
}

.chef {
	margin-top : 10px;
	margin-bottom:5px;
}

.chef .info {
		color: #404040;
	}

article em, a {
	line-height: 1.5em;
}

h5 {
	text-transform: uppercase;
	font-weight: bold;
	font-size:1.2em;
	line-height: 1em;
	margin-top:0px;
	margin-bottom:20px;
	color:#404040;
}

h6 {
	font-weight: bold;
	font-size: 1em;
	font-weight:normal;
	line-height: 1em;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #404040;
}

article em {
	font-weight: bold;
	color: #404040;
}


/*blocs */
body {
	background-color: white;
	font-size: 1em;
	font-weight: normal;
	margin: 0px;
	max-width: 1920px;
}

header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	margin-top: 120px;
	margin-bottom: 120px;
	max-width: 1390px;
}

#blocpage
{
	margin: auto;
	max-width: 100%;
	display: flex;
}

#blocgauche
{
	display: inline-block;
	width: 385px;
	max-height: 100%;
	background-color: #ffca28;
}

.textecolonne
{
	margin-bottom: 50px;
}

.coordonnees {
	margin-top: 20px;
}

#parcours
{
	display: inline-block;
	margin-right: 45px;
	margin-left: 65px;
	width: 1400px;
}

article
{
	display: flex;
	margin-bottom: 20px;
	vertical-align:top;
}

.lieu
{
	display: flex;
	width: 30%;
	margin-right:3%;
}

.puce{
	display:flex;
}

.ville
{
	display: flex;
}

section
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	vertical-align: top;
	margin: auto;
	margin-bottom: 50px;
}

.XP
{
	display:inline-block;
	vertical-align:top;
}

.info
{
	display: inline-block;
	vertical-align: top;
	width: 67%;
}

.reco {
	display: flex;
	vertical-align: top;
}

.ligne {
	display: flex;
	flex-direction: row;
	width: 100%;
}

section.reco article {
	width: 50%;
}



/* Objets */

.photo
{
	display: flex;
	justify-content: center;
}

.resp {
	display:none;
}

.photo img {
	border-radius: 50%;
	border: 5px solid rgba(117, 117, 117, .3);
	width: 215px;
	margin-top: 70px;
	margin-bottom: 45px;
}

#nom
{
	justify-content:left;
	margin-right: 5%;
	margin-left: 0%;
	width: 70%;
	padding-left: 0%;
}

h2.parcours i.fas {
	color: #ffca28;
	margin-right: 25px;
}

.puce {
	margin-right: 10px;
	margin-top: 5px;
}

.puce .fas, .fa-stack {
	color: #ffca28;
	font-size: .6em;
}

hr.traitjaune {
	display: flex;
	width:100%;
	background-color: #ffca28;
	height:2px;
	margin-bottom: 30px;
	border:0px;
}

#loisirs {
	display: flex;
	width: 100%;
	margin-top: 20px;
	justify-content: space-between;
}

#blocgauche .fa-stack {
	color: #404040;
	font-size: 1em;
}

#loisirs .fa-stack {
	margin-top:20px;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 40px;
}

/* RESPONSIVE */
@media screen and (min-width: 992px) and (max-width: 1200px) {
	h1
	{
		font-size: 4em;
	}

	h2
	{
		font-size: 1.5em;
	}

	h5
	{
		font-size:1em;
	}

	h6{
		font-size:1em;
	}

	p
	{
		font-size: 0.9em;
	}

	ul
	{
		font-size: 0.9em;
		line-height: 1.2em;
	}
}

@media screen and (min-width: 900px) and (max-width: 991px)
{
	article {
		width: auto;
		flex-direction: row;
	}

	section.reco .info {
		width : 100%;
	}
	
	h1 {
		font-size: 3.5em;
	}

	h2 {
		font-size: 1.3em;
	}

	h3 {
		font-size: 1.1em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.8em;
	}

	em
	{
		font-size:1em;
	}

	.puce .fas, .lieu .fa-stack {
		font-size: 7px;
		margin-right: 7px;
	}

	p {
		font-size: 1em;
	}

	ul {
		font-size: 1em;
		line-height: 1.3em;
	}
}

@media screen and (max-width: 899px) {
	#blocpage {
		width: auto;
		flex-direction: column-reverse;
	}

	#blocgauche, #parcours {
		width: auto;
	}

	#parcours {
		margin-right: 5%;
		margin-left: 5%;
	}

	.coordonnees {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
	}

	.contact {
		width: 25%;
		min-width: 20%;
		max-width: 50%;
		margin: 20px;
		justify-content: space-around;
	}

	header{
		display: flex;
		flex-direction:column;
	}

	.lieu {
		width: 25%;
	}

	.ville {
		font-size: .9em;
	}

	.info {
		width: 60%;
	}

	h1 {
		font-size: 3.5em;
		display:inline-block;

	}

	h2 {
		font-size: 1.3em;
	}

	h3 {
		font-size: 1.1em;
	}

	h4 {
		font-size: .9em;
	}

	h5 {
		font-size: 1em;
		margin-top: 40px;
	}

	h6 {
		font-size: 1em;
	}

	em {
		font-size: 0.9em;
	}

	.puce .fas, .lieu .fa-stack {
		font-size: .4em;
		margin-right: 5px;
	}

	p {
		font-size: 0.9em;
		line-height:1.3em;
	}

	ul {
		font-size: 0.8em;
		line-height: 1.3em;
	}

	.ligne {
		display: flex;
		flex-direction:column;
		justify-content:space-between;
		align-content:center;
		width:100%;
	}

	section.reco article {
		width: 100%;
		margin: auto;
		justify-content: center;
	}

	.photo {
		display: none;
	}

	.resp { 
		display: inline-block;
		justify-content: center;
	}

	.resp img{
		border-radius: 50%;
		border: 5px solid rgba(117, 117, 117, .3);
		width: 215px;
		margin-bottom: 25px;
	}
}